.idea
D3dRenderFrameWork/x64
.vs
x64
D3dRenderFrameWork.sln.DotSettings.user
D3dRenderFrameWork/D3dRenderFrameWork.vcxproj.filters
D3dRenderFrameWork/D3dRenderFrameWork.vcxproj.user
D3dRenderFrameWork/Assets/Generated
